<style type="text/css">
    @import url("/resources/css/userProfile.css");
</style>
<div class="wapper-content" style="margin-top: 5rem;">
    <div class="container">
        <div class="wapper wap-account">
            <div class="wapcontent">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/"> <span itemprop="name">Trang
                                        chủ</span></a> <span>></span>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="name"> DANH SÁCH DỊCH VỤ</span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ul>
                    </div>
                </div>
                <form action="/admin/profile" class="form-group" method="post">
                    <div class="row">
                        <%- include('./providerMenu.ejs')  %>
                            <div class="col-md-8">
                                <h1>DANH SÁCH DỊCH VỤ</h1>
                                <% for(let i = 0; i < services.length; i++) { %>
                                    <div class="card d-flex flex-row p-3" <% if (services[i].status=='disabled' ) { %>
                                        <%=  'style= background-color:red;' %>
                                            <% } %>>
                                                <img style="object-fit: cover ;" src="<%= services[i].imgs_url[0] %>" height="128px" width="128px">
                                                <div class="card" style="width:100%">
                                                    <h5 class="card-header d-flex justify-content-center">
                                                        <%= services[i].name %>
                                                    </h5>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Địa chỉ:
                                                            <%= services[i].address %>
                                                        </h5>
                                                        <h5 class="card-text">Hoạt động:
                                                            <%= services[i].operating %>
                                                        </h5>

                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-center  justify-content-lg-end">
                                                    <button type="button" class=" btn btn-register " style="margin-bottom:0!important; margin-right:10px!important;">
                                    <a href="/provider/setting/<%= services[i]._id %>"> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                                          </svg> </button>
                                                    </a>
                                                    <form action="/export/<%= services[i]._id %>" method="POST">
                                                        <button type="button" class=" btn btn-register " style="margin-bottom:0!important; margin-right:10px!important;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-download"
                                            viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                          </svg> </button>
                                                    </form>
                                                </div>
                                    </div>
                                    <% } %>
                            </div>
                    </div>
                </form>
                <% if(numberOfPage > 1) { %>
                    <div class="mt-4 row bknow-collection d-flex justify-content-center">
                        <div class="navigation">
                            <ul class="pagination">
                                <% if(typeof(q) == 'undefined' || !q) {%>
                                    <li>
                                        <a href="/admin/services/list?page=1" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <% for(let i = 0; i < numberOfPage; i++) { %>
                                        <li class="  <% if( i + 1 == +page) { %> <%= 'active' %> <% } %>">
                                            <a href="/admin/services/list?page=<%= i + 1 %>">
                                                <%= i + 1 %>
                                            </a>
                                        </li>
                                        <% } %>
                                            <li>
                                                <a href="/admin/services/list?page=<%= numberOfPage %>" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            <% } else { %>
                                                <li>
                                                    <a href="/admin/services/list/search?q=<%= q %>&page=1" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <% for(let i = 0; i < numberOfPage; i++) { %>
                                                    <li class="  <% if( i + 1 == +page) { %> <%= 'active' %> <% } %>">
                                                        <a href="/admin/services/list/search?q=<%= q %>&page=<%= i + 1 %>">
                                                            <%= i + 1 %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <li>
                                                            <a href="/admin/services/list/search?q=<%= q %>&page=<%= numberOfPage %> " aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                        <% } %>
                            </ul>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</div>