<div class="container">
    <div class="landing-slide">
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <% for(let i = 0; i < service.imgs_url.length; i++) { %>
                    <li data-target="#carouselExampleCaptions" data-slide-to="<%= i + 1 %>" class="active"></li>
                    <% } %>
                </ol>

                <div class="carousel-inner">
                    <% for(let i = 0; i < service.imgs_url.length; i++) { %>
                    <div class="carousel-item <% if(i==0) { %> <%= 'active' %> <% } %>   ">
                        <img src="<%= service.imgs_url[i] %> " class="d-block w-100 img-slider" alt="...">
                    </div>
                    <% } %>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!--Nổi bật-->
    <div class="row wap-top-detail">
        <div class="col-md-12 text-center " itemscope itemtype="http://schema.org/Restaurant">
            <h1>
                <span class="bknow-star" itemprop="aggregateRating" itemscope
                    itemtype="http://schema.org/AggregateRating">
                    <i class="glyphicon glyphicon-star" aria-hidden="true"></i>
                </span>
                <span class="bknow-title" itemprop="name"><%= service.name %></span>
            </h1>
            <p class="address-partner" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <img src="/resources/img/icon-maps-detail.png" alt="maps" />
                <span itemprop="streetAddress"><%= service.address %></span>
            </p>
            <p class="hours-pickup" itemprop="openingHours"><%= service.operating %></span> </p>

            <div class="row">

                <div class="col-md-12 center">
                    <span class="text-left">Khoảng giá: </span>
                    <span class="bknow-avg-price" itemprop="priceRange"><%= service.price_range %></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1 sidebar">
        <nav class="bg-light nav-pills flex-column " data-toggle="affix" id="navbar-scroll">
            <a class="nav-link active " href="#introductionScrollNav">GIỚI THIỆU</a>
            <a class="nav-link " href="#menuScrollNav">THỰC ĐƠN</a>
            <a class="nav-link " href="#addressScrollNav">ĐỊA CHỈ</a>
            <a class="nav-link " href="#commentScrollNav">NHẬN XÉT</a>
        </nav>
    </div>
    <div class="col-8">
        <div class="body-detail scrollspy-example-2">
            <article id="introductionScrollNav">
                <div class="content">
                    <h2 class="text-header"><span>Giới thiệu <%= service.name %></span></h2>
                    <div class="row-app">
                        <div class="col-xs-app-12">
                            <% for(let i = 0; i < service.description.length; i++) { %>
                            <div class="txt-title"><%= service.description[i].title %> </div>
                            <% if(service.description[i].description[0] == '-') service.description[i].description = service.description[i].description.substring(1);%>
                            <% let des = service.description[i].description.split('-') %>
                            <div class="text-description">
                                <% for(let j = 0; j < des.length; j++) { %>
                                <p>- <%= des[j] %></p>
                                <% } %>
                            </div>
                            <% } %>
                        </div>
                    </div>

                    <h3 style="text-align:center;"><%= service.introduction_content.title %> </h3>
                    <% for(let i = 0; i < service.introduction_content.description.length - 1; i++) { %>
                    <p><%= service.introduction_content.description[i] %> </p>
                    <% } %>
                    <div class="custom-box">
                        <p><img alt="<%= service.name + String(1) %> " class="" src="<%= service.imgs_url[0] %> " />
                        </p>
                        <br>
                    </div>
                    <p>
                        <div class="custom-box">
                            <div class="collapse" id="gioithieu-more">
                                <div class="box-list">
                                    <% for(let i = 1; i < service.imgs_url.length; i++) { %>
                                    <p><img alt="<%= service.name + String(i+1) %> " class=""
                                            src="<%= service.imgs_url[i] %> " />
                                    </p>
                                    <% } %>

                                    <p><%= service.introduction_content.description[service.introduction_content.description.length - 1] %>
                                    </p>
                                    <h4>Địa chỉ nhà hàng</h4>
                                    <h4>Nhà hàng <%= service.name %> : <%= service.address %> <br />
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </p>
                    <div class="custom-box">
                        <a class=" btn-xemthem" role="button" data-toggle="collapse" href="#gioithieu-more"
                            aria-expanded="false" aria-controls="gioithieu-more">Xem thêm</a>
                    </div>
                </div>


            </article>
            <article id="menuScrollNav">
                <div class="content">
                    <h2 class="text-header"><span>Thực đơn</span></h2>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <% for(let i = 0; i < service.menu_imgs.length; i++) { %>
                            <div class="carousel-item <% if(i == 0) { %> <%= 'active' %> <% } %>">
                                <img class="d-block w-100" src="<%= service.menu_imgs[i] %> ">
                            </div>
                            <% } %>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </article>
            <article id="addressScrollNav">
                <div class="content">
                    <h2 class="text-header"><span>Bản đồ & Địa điểm</span></h2>
                    <h4><%= service.address %> </h4>
                    <a href="<%= service.address_img.map_url %>" target="_blank" rel="nofollow">
                        <img src="<%= service.address_img.img %>" class="d-block w-100" alt="<%= service.address %>" />
                    </a>
                </div>
            </article>
            <article id="commentScrollNav">
                <div class="content">
                    <h2 class="text-header"><span>Bình luận</span></h2>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="nhapbinhluan" placeholder="Nhập bình luận">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </article>
        </div>
    </div>

    <div class="col-3" id="datcho">
        <form method="post" action="/bookings/create" id="formBooking">
            <article class="bg-light" data-toggle="affix">
                <% if(user) { %>
                <input type="hidden" value="<%= user._id %>" name="user_id">
                <% } %>
                <input type="hidden" value="<%= service._id %>" name="service_id">
                <h2>Đặt chỗ BookingNow kèm ưu đãi</h2>
                <div class="form-group">
                    <p>Nên đặt trước khi đến từ 30 phút!</p>
                    <div class="text-center">
                        <strong><%= (service.flash_sale != 0 ? 'Giảm giá ' + service.flash_sale + '%' : 'Đặt bàn được giữ chỗ')%>
                        </strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <input id="txtNgayDen" name="schedule" type="text" class="form-control"
                                placeholder="Ngày" />
                        </div>
                        <div class="input-group-btn">
                            <select id="txtGioDen" name="time" class="form-control" name="sfTime">
                                <%for (let i = 0; i < service.timeArr.length; i++) {%>
                                <option value="<%= service.timeArr[i] %>"> <%= service.timeArr[i] %></option>
                                <% } %>

                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select id="txtSoNguoiLon" name="amount_adult" class="form-control" name="sfPeople">
                                <% for(let i = 1; i <= 25; i++) { %>
                                <option value="<%= i %>"><%= i %> người lớn</option>
                                <% } %>
                            </select>
                        </div>
                        <div class="input-group-btn">
                            <select id="txtSoTreEm" name="amount_kid" class="form-control" name="sfChild">
                                <% for(let i = 0; i <= 25; i++) { %>
                                <option value="<%= i %>"><%= i %> trẻ em</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <textarea class="form-control" cols="70" name="note" id="txtGhichu"
                        placeholder="Điền ghi chú tại đây..." rows="1"></textarea>
                    <div id="txtErMessage"></div>
                    <button id="btn-booking" class="btn btn-default btn-block" type="button" <% if(user) { %>
                        <% if(user.role.name === 'provider' || user.role.name === 'admin') { %> <%= 'disabled' %>
                        <% }} %>>Đặt chỗ
                        ngay</button>
                    <div class="booking-call">Hoặc gọi tới: <span class="phone-number">1234 5678</span> <br />Để đặt chỗ
                        và được tư vấn.</div>
                </div>
            </article>
        </form>
    </div>
</div>

<!--Thông báo đặt chỗ-->
<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="AlertModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="tvTitle"> Tiếp nhận thành công!</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="tvBody">
                    <p>* Đặt chỗ tới nhà hàng
                        <font color="black"><b><%= service.name %></b></font> - <b><%= service.address %></b> đã được
                        tiếp nhận thành công! </p>
                    <p>* BookingNow sẽ gọi điện tới số ĐT: <b> <% if(user){ %> <%= user.phone_number %> <% } %> </b> để
                        Xác nhận trong vòng 10
                        phút tới. Vui
                        lòng
                        giữ liên lạc!</p>
                    <p>* Lưu ý: Quý Khách vui lòng chủ động gọi đến số: <b>12345678</b> để BookingNow Xác nhận trong
                        trường
                        hợp BookingNow cố gắng liên lạc không thành công! </p>
                    <p> Đặt chỗ thành công chỉ khi có sự Xác nhận từ BookingNow!</p>
                    <p>Cảm ơn Quý Khách đã sử dụng BookingNow!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--Model thông báo-->

<!--Xác nhận đặt chỗ-->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="tvTitle">Xác nhận đặt chỗ</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="confirm-booking">
                    <div id="tvThongBao"></div>
                    <div id="tvThongBaoKhuyenMai"></div>
                    <div class="datcho">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group input-nummer-to">
                                    <span id="tvSoNguoiDenDesktop" class="form-control"></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"
                                            aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group input-nummer-to">
                                    <span id="tvSoNguoiDenTreEmDesktop" class="form-control"></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"
                                            aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <span id="tvNgayDenDesktop" class="form-control"></span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <span id="tvGioDenDesktop" class="form-control"></span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button id="btn-cancel-desktop" class="btn btn-default btn-block">Hủy</button>
                            </div>
                            <div class="col-md-6">
                                <button id="btn-ok-desktop" class="btn btn-default btn-block" type="submit">Xác
                                    nhận</button>
                            </div>
                        </div>
                        <h5 class="mt-4">BookingNow sẽ liên hệ bạn để xác nhận đặt chỗ</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Model Xác nhận thông tin đặt chỗ-->

<span id='user' hidden>
    <%= JSON.stringify(user); %>
</span>

<script src="/resources/js/stickySidenav.js"></script>
<script src="/resources/js/confirm.js"></script>
<script src="/resources/js/calendar.js"></script>