<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>
        <%= (typeof(title) != "undefined" ? title : "Booking now") %>
    </title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <%- body %>

    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>